* {
   margin: 0;
   padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body {
   background: url(../images/bg-desktop-light.jpg) top left no-repeat;
   background-color: hsl(0, 0%, 98%);
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 400;
   font-size: 18px;
}

main#todo {
   top: 100px;
   margin: 0 auto;
   width: 500px;
   font-size: 12px;
   position: relative;
}

.top {
   margin-bottom: 10px;
}

.top .app-name {
   color: white;
   font-size: 40px;
   text-align: left;
   letter-spacing: 10px;
   text-transform: uppercase;
}

.top .theme-switch {
   width: 26px;
   height: 26px;
   float: right;
   cursor: pointer;
   margin-top: -35px;
   background: url(../images/icon-moon.svg) no-repeat;
}

.todo-form  {
   height: 50px;
   width: inherit;
   margin: 30px 0;
   display: flexbox;
   border-radius: 5px;
   background-color: white;
   box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

.todo-form label, ul li::before {
   width: 18px;
   height: 18px;
   float: left;
   margin: 15px 20px;
   border-radius: 10px;
   border: 1px solid hsl(236, 33%, 92%);
}

input {
   width: 400px;
   border: none;
   outline: none;
   background: none;
   padding: 18px 20px 18px 0;
   color: hsl(235, 19%, 35%);
}

.todos {
   margin: 5px 0 30px 0;
   border-radius: 5px;
   background: white;
   box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

ul li, .todo-items .todo-item {
   display: none;
   cursor: pointer;
   transition: 0.2s;
   list-style-type: none;
   color: hsl(235, 19%, 35%);
   border-bottom: 1px solid hsl(236, 33%, 92%);
}

.show {
   display: flex !important;
}

.todo-actions, .todo-item, li {
   height: 50px;
   width: inherit;
}

ul li::before {
   content: '';
}

ul li::before, ul li.checked::before {
   position: absolute;
}

ul li.checked p {
   color: hsl(234, 39%, 85%);
   text-decoration: line-through;
}

ul li.checked::before {
   content: url(../images/icon-check.svg);
   line-height: 1.4;
   margin: 14px 20px;
   text-align: center;
   border-radius: 15px;
   padding: 2px 1px 0;
   background-image: linear-gradient(180deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

ul li p {
   padding: 18px 60px;
}

.close {
   right: 0;
   margin-top: 16px;
   position: absolute;
   padding: 10px 18px;
   background: url(../images/icon-cross.svg) no-repeat;
}

.todo-actions .todo-counter, .todo-actions .todo-clear {
   padding: 18px 20px;
}

.todo-actions .todo-counter {
   float: left;
}

.todo-actions .todo-clear {
   float: right;
   cursor: pointer;
}

.todo-actions, .todo-filter, #todo > p {
   color: hsl(236, 9%, 61%);
}

.todo-filter {
   position: absolute;
   text-align: center;
   margin: -62px 0 0 170px;
}

.todo-filter span {
   margin: 0 8px;
   cursor: pointer;
}

.todo-filter span:hover, .todo-clear:hover, .todo-filter .active {
   color: hsl(220, 98%, 61%);
}

#todo > p {
   text-align: center;
}


/* Dark mode styling */

body.dark-mode {
   background: url(../images/bg-desktop-dark.jpg) top left no-repeat;
   background-color: hsl(235, 21%, 11%);
}

body.dark-mode .theme-switch {
   background: url(../images/icon-sun.svg) no-repeat;
}

body.dark-mode .todos, body.dark-mode .todo-form {
   background-color: hsl(235, 24%, 19%);
}

body.dark-mode .todo-form label, body.dark-mode ul li::before {
   border: 1px solid hsl(233, 14%, 35%);
}

body.dark-mode .todo-items .todo-item, body.dark-mode .checked {
   color: white;
   border-bottom: 1px solid hsl(233, 14%, 35%);
}

body.dark-mode .todo-filter {
   background-color: hsl(235, 24%, 19%);
}


/* Mobile screen styling */

@media only screen and (max-width: 425px) {
   main#todo {
      width: 390px;
   }

   input {
      width: 308px;
   }

   .todo-filter {
      font-weight: 700;
      margin: 30px auto;
      padding: 18px 20px;
      position: relative;
      border-radius: 5px;
      background: inherit;
      background-color: white;
      box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
   }
}

@media only screen and (max-width: 375px) {
   body {
      background: url(../images/bg-mobile-light.jpg) top left no-repeat;
      background-color: hsl(0, 0%, 98%);
   }

   body.dark-mode {
      background: url(../images/bg-mobile-dark.jpg) top left no-repeat;
      background-color: hsl(235, 21%, 11%);
   }

   main#todo {
      top: 20px;
      width: 340px;
   }

   input {
      width: 258px;
   }
}

@media only screen and (max-width: 320px) {
   main#todo {
      width: 300px;
   }

   input {
      width: 218px;
   }
}


.attribution { 
   font-size: 11px; 
   text-align: center;
   margin: 150px 0 10px;
}
.attribution a { color: hsl(228, 45%, 44%); }